[submodule "anaconda-mode"]
	path = site-lisp/anaconda-mode
	url = https://github.com/proofit404/anaconda-mode.git
[submodule "pythonic"]
	path = site-lisp/pythonic
	url = https://github.com/proofit404/pythonic.git
[submodule "rfcview"]
	path = site-lisp/rfcview.el
	url = https://github.com/zeph1e/rfcview.el.git
[submodule "emacs-ruby-mode"]
	path = site-lisp/emacs-eruby-mode
	url = https://github.com/petere/emacs-eruby-mode.git
[submodule "embedded-ruby-mode"]
	path = site-lisp/emacs-eruby-mode
	url = https://github.com/petere/emacs-eruby-mode.git
[submodule "site-lisp/breadcrumb"]
	path = site-lisp/breadcrumb
	url = https://github.com/joaotavora/breadcrumb.git
